# ==============================================================================
# Zig Build Artifacts & Cache
# ==============================================================================
.zig-cache/
zig-cache/
zig-out/

# ==============================================================================
# Zig Package Manager Dependencies
# ==============================================================================
# Starting in 2026, Zig fetches project dependencies into this directory
zig-pkg/

# ==============================================================================
# Compiled Binary Outputs & Object Files
# ==============================================================================
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.sh

# ==============================================================================
# Documentation Generation
# ==============================================================================
docgen_tmp/

# ==============================================================================
# OSX stuff
# ==============================================================================
.DS_Store

# ==============================================================================
# Images directory
# ==============================================================================
images/
images-out/
